/* 
# CSS Dùng cho Google Earth #
# Mr.Huong
# TTrSXD
*/


/* Dành cho điện thoại */
@media all and (min-width: 320px) {
	.scroll {
		height: 335px;
	}
	
	table {
		width: 98%;
		font-size: 13px;
	}
	
	img {
		max-width: 97.5% !important;
		
	}
}
/* Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 600px) {
	.scroll {
		height: 440px;
	}
	table {
		width: 98%;
		font-size: 16px;
	}
	img {
		max-width: 97.5% !important;
		
	}	
}

/* Dành cho màn hình desktop */
@media all and (min-width: 1024px) {
	.scroll {
		height: 440px;
	}
	table {
		width: 782px;
		font-size: 16px;
	}
	img {
		max-width: 740px !important;
		
	}	
}

/* Dùng chung các thiết bị */
.scroll {
  overflow-x:hidden;
  overflow-y:auto;
}

table {
	table-layout: fixed;
	line-height: 1.2;
	td {
		vertical-align: top;
		&[colspan] {
		padding: 0;
		}
  }
  thead {
    vertical-align: bottom;
  }
}
img { /*  Dieu chinh doi tuong img */
  display: block;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  margin: 0.5rem auto; /*  margin-left: auto; margin-right: auto; */
  position: relative;
  object-fit: contain;
  max-width: 740px
}
/* Add file (local) <link rel="stylesheet" type="text/css"  href="files/css-xxxx.css"> */
