.scroll {
  overflow-x:hidden;
  overflow-y:auto;
  height: 465px;
}
table {
  width: 542px;
  table-layout: fixed;
  td {
    vertical-align: top;
    &[colspan] {
      padding: 0;
    }
  }
  thead {
    vertical-align: bottom;
  }
}
img {
  display: block;
  margin-left: 0px; 
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  max-width: 500px;
  max-height: auto;
}
