.scroll {
  overflow-x:hidden;
  overflow-y:auto;
  height: 335px;
}
table {
  width: 440px;
  table-layout: fixed;
  td {
    vertical-align: top;
    &[colspan] {
      padding: 0;
    }
  }
  thead {
    vertical-align: bottom;
  }
}
img {
  display: block;
  margin-left: 10px; 
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  width: 340px;
  height: 320px;
}
